-r requirements.txt

twilio>=3.3.6
beautifulsoup4>=4.4.0
pep8==1.5.7
pytest==2.8.1
requests==2.9.1
retry==0.9.1
selenium==2.53.1

git+https://github.com/alphagov/notifications-python-client.git@1.0.0#egg=notifications-python-client==1.0.0
